
/*
###############for Tag View List ############################################################
 */


/* 标签类 ID 隐藏   */
.td_col_0_tag_id_hide {
    width:0px;
    display:none;
}


/* 标签类别名 */
.td_col_A_tag_name {
    width:240px;
}

/* 描述  */
.td_col_B_tag_desc {
    width:460px;
}

/* 有效期  */
.td_col_C_tag_valid {
    width:200px;
}

/* 覆盖率(%)   */
.td_col_D_tag_cover {
    width:150px;
}


/* 操作   */
.td_col_E_tag_op {
    width:150px;
}
