.nav-header.collapsed>span.glyphicon-chevron-toggle:before {
	content: "\e114";
}

.nav-header>span.glyphicon-chevron-toggle:before {
	content: "\e113";
}

.secondmenu>li>a {
	padding-left: 28px !important;
	font-size: 1em;
	font-family: "Microsoft YaHei", 微软雅黑;
	font-weight: 600;
	color: #999999;
	border-radius: 0px;
}

.secondmenu>li:first-child>a {
	padding-left: 22px !important;
}

.secImg {
	padding-left: 7px;
	padding-right: 6px;
}

.secondmenu>li>a>i {
	margin-left: 10px;
	font-style: normal;
}

#main-nav {
	margin-left: 0px;
}

#main-nav li a {
	padding: 20px 22px 19px 22px;
}

#main-nav.nav-stacked>li>a {
	font-size: 1em;
	font-weight: 600;
	color: #999999;
	background: #313743;
	border-radius: 0px;
	letter-spacing: -4px;
}

#main-nav.nav-stacked>li>a>i {
	font-style: normal;
	letter-spacing: 0;
}

#main-nav.nav-stacked>li>a>span {
	color: #4A515B;
}

#main-nav.nav-stacked>li.active>a {
	font-size: 1em;
	color: #FFF;
	background: #3C4049;
	background: -moz-linear-gradient(top, #4A515B 0%, #3C4049 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4A515B),
		color-stop(100%, #3C4049));
	background: -webkit-linear-gradient(top, #4A515B 0%, #3C4049 100%);
	background: -o-linear-gradient(top, #4A515B 0%, #3C4049 100%);
	background: -ms-linear-gradient(top, #4A515B 0%, #3C4049 100%);
	background: linear-gradient(top, #4A515B 0%, #3C4049 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A515B',
		endColorstr='#3C4049');
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A515B', endColorstr='#3C4049')";
	border-color: #2B2E33;
}

#main-nav.nav-stacked>li {
	
}

.navbar-static-top {
	background-color: #2e3035;
	margin-bottom: 1px;
}

.navbar-brand {
	background: url('') no-repeat 10px 8px;
	display: inline-block;
	vertical-align: middle;
	padding-left: 50px;
	color: #fff;
	height: 60px;
}

.secondmenu li.active {
	text-decoration: none;
	background-color: #2b313a;
	/* border-left: 4px solid #ffcc33; */
}

.secondmenu li.active:before {
	position: absolute;
	content: "";
	font-size: 0;
	width: 4px;
	height: 100%;
	background: #ffcc33;
}

.secondmenu li.active a {
	color: white;
}

.firstmenuClick {
	font-size: 12px;
	color: #999999;
	text-align: center;
}

.secondmenu li:first-child {
}

 .nav>li {
	border-top: 1px solid #404652;
	position: relative;
	display: block;
	border-bottom: 1px solid #2b313a;
}

.secondmenu li {
	border: none
}