
/*create by SongChaoqun */
/*2016-11-22*/

.seabox_text {

}

.text_simple{
    border:0px;
}

.seabox_text.text_simple {
    /*display:none;*/
    /*border:1px;*/
    border-bottom:1px solid #77D5D4;
    background-color:#EFF3F6;
    height:30px;
    margin-top:10px;
}

.seabox_text_simple{
    border-bottom:1px solid #77D5D4;
    /*border:1px solid #77D5D4;*/
    width:140px;
    height:30px;
    line-height: 30px;
    margin:0;
}
