.input_lable{
	background: url(/SeaBoxTag/images/searchImg.png) no-repeat; /*�Ŵ�ͼ��*/
	width: 15px;/*lable���*/
	height: 15px; /*lable�߶�*/
	cursor: pointer;/*������ȥʱ����ֵ���״*/
	position: absolute;/*����ڸ�Ԫ�ؾ��Զ�λ*/
	margin-top:32px;/*�����ϲ�Ԫ�ض���32����*/
	margin-left:22%;/*�����ϲ�Ԫ����22%����*/
	top: 0;
}

.oprtDiv{
	position:absolute;
	width:80px;
	height:160px;
	z-index:100;
	background:white;
	box-shadow: #666 0px 0px 10px;
	
}
.oprtDiv>div{
	height:40px;
	line-height:40px;
	text-align:center;
}

.oprtDiv>div:hover{
	background-color:#D6EEFF;
}

.oprtImg{
	background: url(/SeaBoxTag/images/main/sprite_label.png) no-repeat; /*�Ŵ�ͼ��*/
	background-position: -10px 0;
	width: 24px;/*lable���*/
	height: 24px; /*lable�߶�*/
	cursor: pointer;/*������ȥʱ����ֵ���״*/
	position: absolute;/*����ڸ�Ԫ�ؾ��Զ�λ*/
	border:1px solid red;
}

/*�б�table�� ����td��ʽ*/
.table-par-td{
	text-align:center;
	padding-top:200px;
	padding-bottom:0px;
}